requests
numpy
Pillow
keras
matplotlib
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyter-http-over-ws
jupyterlab-pygments
jupyterlab-widgets
notebook
tensorboard
tensorboard-plugin-wit
tensorflow==2.10.1
tensorflow-io==0.29.0
tensorflow-datasets
tensorflow-estimator
tensorflow-examples @ git+https://github.com/tensorflow/examples.git
tensorflow-metadata
urllib3==1.26.3
pydantic==1.9.1
setuptools~=51.3.3
fastapi==0.82.0
hypercorn==0.5.3
uvicorn==0.17.0
opencv-python==4.5.5.64
opencv-contrib-python>=4.5.5.64